<div style="width: 100%;
        outline: 1px solid #333333;
    background:#F5F5F5;
    left: 50%;
    margin-left: 0px;
    padding:10px;"> 
  <div class="field">
<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, :style => "margin-left:10px;" %><br>
    <%= f.text_field :nome, :style => "margin-left:20px;width: 40%;height:30px;" %>
  </div>
  
  <%= f.submit 'Cadastrar', :class =>'btn btn-warning', :style => "margin-left:20px;"   %> 
  
<%= link_to t('.back', :default => t("helpers.links.back")),
              categoria_path, :class => 'btn btn-default'  %>
<% end %>
</div>
