<%= form_for @sale, :html => { :class => "form-horizontal sale" } do |f| %>

    <% if @sale.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sale.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select(:product_id, @product, :id, :description, include_blank: "Opções", :class => 'form-control') %>
    </div>
    <%= error_span(@sale[:product_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :bar_id, :class => 'control-label' %>
    <div class="controls">
     <%= f.collection_select(:bar_id,@bar, :id, :name, include_blank: "Opções", :class => 'form-control') %>
    </div>
    <%= error_span(@sale[:bar_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@sale[:price]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            sales_path, :class => 'btn btn-default' %>

<% end %>
