<p id="notice"><%= notice %></p>


<p>
  <strong>Descricao:</strong>
  <%= @cardapio.descricao %>
</p>

<p>
  <strong>Estabelecimento:</strong>
  <%= @cardapio.estabelecimento.nomefantasia %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @cardapio.produto.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @cardapio.preco %>
</p>

<p>
  <strong>Foto:</strong>
  
  <td><%= image_tag @cardapio.foto.url(:thumb) %></td> 
</p>


<%= link_to t('.back', :default => t("helpers.links.back")),
              cardapios_path, :class => 'btn btn-warning'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cardapio_path(@cardapio), :class => 'btn btn-default' %>
